# dependencies
/node_modules
/Social-distance-detection-master

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#
*.weights