.container {
    margin: 50px;
    /* padding: 50px; */
    height: 100%;
    color: #000000;
    /* border: 1px solid rgb(229, 166, 166); */
    /* background-color: #E5E5E5; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: scroll; */
    /* justify-content: space-between; */
}

.container > * {
    margin-bottom: 30px;
}

.first-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: blue; */
}

.second-row {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
}

.container .card {
    background-color: white;
    box-shadow: 0px 5px 10px #f1f2fa;
    border-radius: 8px;
    padding: 30px;
    transition: 0.2s all;
}

.container .card:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 10px #e1e3ef;
}

.container .small-element {
    width: 10%;
    min-width: 250px;
    height: 150px;

}


.container .large-element {
    width: 58.5%;
    min-height: 300px;
    /* background-color: 'red'; */
}

.container .live-feed {
    width: 250px;
}

.container .live-feed > * {
    margin-bottom: 15px;
}

.container .info-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .sensor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    width: 100%;
}

.container .people-icons > * {
    transition: all ease 0.2s;
}

.container .indicator {
    /* display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    user-select: none; */
    /* background-color: pink; */
    position: relative;
}

.container .progressBar {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container .logo {
    width: 50px;
    position: absolute;
    top: 45px;
    /* background-color: red;; */
}

.container .percentage {
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
}

.container .humidity {
    margin: 5px;
}