.navlink {
    color: #d1eec0;
    margin-left: 10px; 
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.navlink span {
    margin-left: 7px;
}

.active {
    color: #fff;
    border-radius: 5px;
    background-color: #1B2B65;
    transition: background-color 0.15s ease-in;
}

label {
    margin: 15px;
    font-size: 0.7rem;
    color: #51CBFF;
}

.sidebar .button:hover {
    cursor: pointer;
}

.btnLogout {
    color: #c5cee8;
    /* background-color: #e8734c; */
    background-color: transparent;
    border: none;
    border: 1px solid rgb(113, 127, 200);
    border-radius: 8px;
    margin: 70px 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s all;
    /* position: relative; */
    /* bottom: 0; */
}

.btnLogout:hover {
    cursor: pointer;
    transform: translateY(-0.2em);
    background-color: rgb(8, 15, 54);
    color: white;
    box-shadow: 1px 1px 1px 1px #555;
}
